@import url('https://fonts.googleapis.com/css?family=Raleway:400,700');

body {
     padding-top: 70px;
     font-family: 'Raleway', sans-serif;
}

a, a:hover, a:focus {
     color: rgb(150, 0, 0);
}

h4 {
     font-size: 20px;
     font-weight: bold;
}

.thumbnail p {
     text-align: center;
}

#goToTest {
     background: rgb(0, 0, 0);
     color: rgb(255, 200, 200);
     font-size: 20px;
}

/* Base navbar changes */
.navbar-default {
     -webkit-transition: all 0.6s ease-out;
     -moz-transition: all 0.6s ease-out;
     -o-transition: all 0.6s ease-out;
     -ms-transition: all 0.6s ease-out;
     transition: all 0.6s ease-out;

     background: rgb(255, 200, 200);

     border: 0;
     -webkit-box-shadow: none;
     box-shadow: none;
}
.navbar-default .navbar-nav>li>a {
     font-size: 20px;
     color: rgb(25, 25, 25);
}
.navbar-default .navbar-brand {
     font-size: 24px;
     font-weight: bold;
     color: rgb(25, 25, 25);
}
.navbar-default .navbar-brand:hover {
     color: rgb(150, 0, 0);
}
.navbar-default .navbar-nav>li>a:hover {
     color: rgb(150, 0, 0);
}
.navbar-default .navbar-brand:focus {
     color: rgb(150, 0, 0);
}
.navbar-default .navbar-nav>li>a:focus {
     color: rgb(150, 0, 0);
}

/* Collapsed navbar changes */
.navbar-collapse {
     border: 0;
     -webkit-box-shadow: none;
     box-shadow: none;
}
@media only screen and (max-width: 768px) {
     .navbar-default .navbar-collapse {
          background: rgb(25, 25, 25);
     }
     .navbar-default .navbar-nav>li>a {
          color: rgb(230, 230, 230);
     }
}

.navbar-default .navbar-toggle{
     border: 0;
     outline: none;
}
.navbar-default .navbar-toggle .icon-bar {
     background: rgb(25, 25, 25);
}
.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
     background: none;
}

/* Scrolled navbar changes */
.navbar-default.scrolled {
     background: rgb(25, 25, 25);
}
.navbar-default.scrolled .navbar-nav>li>a {
     color: rgb(230, 230, 230);
}
.navbar-default.scrolled .navbar-brand {
     color: rgb(255, 200, 200);
}
.navbar-default.scrolled .navbar-brand:hover {
     color: rgb(255, 200, 200);
}
.navbar-default.scrolled .navbar-nav>li>a:hover {
     color: rgb(255, 200, 200);
}
.navbar-default.scrolled .navbar-brand:focus {
     color: rgb(255, 200, 200);
}
.navbar-default.scrolled .navbar-nav>li>a:focus {
     color: rgb(255, 200, 200);
}
.navbar-default.scrolled .navbar-toggle .icon-bar {
     background: rgb(255, 200, 200);
}